In [1]:
import pygam
import pandas as pd
import numpy as np

/home/pc/.local/lib/python3.10/site-packages/generalized_additive_models/__init__.py:93: UserWarning:
Thank you for using generalized-additive-models, version 0.4.0.
Until version 1.0.0 is released, the package and API should be considered unstable.
You are welcome to use the package. Report bugs and join the discussion on GitHub:
https://github.com/tommyod/generalized-additive-models
  warnings.warn(message)

In [2]:
data = pd.read_csv('Clean_data.csv')
data

,Unnamed: 0,GroupID,ClaimNb,Exposure,Power,CarAge,DriverAge,Brand,Gas,Region,Density,Brand_enc,Region_enc,Gas_enc,Power_enc,log_density
0,0,1,0,0.090000,g,0,46,Japanese (except Nissan) or Korean,Diesel,Aquitaine,76,1.0,0.0,0.0,3.0,4.330733
1,1,2,0,0.520000,f,2,38,Japanese (except Nissan) or Korean,Regular,Nord-Pas-de-Calais,3003,1.0,7.0,1.0,2.0,8.007367
2,2,3,0,0.150000,g,0,41,Japanese (except Nissan) or Korean,Diesel,Pays-de-la-Loire,60,1.0,8.0,0.0,3.0,4.094345
3,3,4,0,0.810000,d,1,27,Japanese (except Nissan) or Korean,Regular,Aquitaine,695,1.0,0.0,1.0,0.0,6.543912
4,4,5,0,0.050000,d,0,27,Japanese (except Nissan) or Korean,Regular,Aquitaine,695,1.0,0.0,1.0,0.0,6.543912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299794,299794,299795,0,0.005479,d,0,61,Japanese (except Nissan) or Korean,Regular,Basse-Normandie,205,1.0,1.0,1.0,0.0,5.323010
299795,299795,299796,0,0.002740,j,0,29,Japanese (except Nissan) or Korean,Diesel,Ile-de-France,2471,1.0,5.0,0.0,6.0,7.812378
299796,299796,299797,0,0.005479,d,0,29,Japanese (except Nissan) or Korean,Regular,Ile-de-France,5360,1.0,5.0,1.0,0.0,8.586719
299797,299797,299798,0,0.005479,k,0,49,Japanese (except Nissan) or Korean,Diesel,Ile-de-France,5360,1.0,5.0,0.0,7.0,8.586719
299798,299798,299799,0,0.002740,g,6,29,Japanese (except Nissan) or Korean,Diesel,Aquitaine,65,1.0,0.0,0.0,3.0,4.174387

In [3]:
glm_data = data.drop(['GroupID', 'Power', 'Brand', 'Gas', 'Region','Unnamed: 0', 'Density'], axis=1)
glm_data

,ClaimNb,Exposure,CarAge,DriverAge,Brand_enc,Region_enc,Gas_enc,Power_enc,log_density
0,0,0.090000,0,46,1.0,0.0,0.0,3.0,4.330733
1,0,0.520000,2,38,1.0,7.0,1.0,2.0,8.007367
2,0,0.150000,0,41,1.0,8.0,0.0,3.0,4.094345
3,0,0.810000,1,27,1.0,0.0,1.0,0.0,6.543912
4,0,0.050000,0,27,1.0,0.0,1.0,0.0,6.543912
...,...,...,...,...,...,...,...,...,...
299794,0,0.005479,0,61,1.0,1.0,1.0,0.0,5.323010
299795,0,0.002740,0,29,1.0,5.0,0.0,6.0,7.812378
299796,0,0.005479,0,29,1.0,5.0,1.0,0.0,8.586719
299797,0,0.005479,0,49,1.0,5.0,0.0,7.0,8.586719
299798,0,0.002740,6,29,1.0,0.0,0.0,3.0,4.174387

In [4]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(glm_data, test_size=0.2)

In [5]:
train.reset_index(inplace=True, drop=True)
train

,ClaimNb,Exposure,CarAge,DriverAge,Brand_enc,Region_enc,Gas_enc,Power_enc,log_density
0,0,1.00,10,31,4.0,2.0,0.0,0.0,6.133398
1,0,1.00,13,52,4.0,3.0,1.0,1.0,3.258097
2,0,0.19,15,42,0.0,3.0,0.0,3.0,3.784190
3,0,0.13,17,29,4.0,0.0,1.0,0.0,3.583519
4,0,1.00,12,38,3.0,9.0,0.0,1.0,5.697093
...,...,...,...,...,...,...,...,...,...
239834,0,1.00,15,31,4.0,0.0,0.0,2.0,7.540090
239835,0,1.00,2,55,4.0,3.0,1.0,0.0,3.761200
239836,0,0.97,4,46,1.0,6.0,1.0,1.0,3.663562
239837,0,0.41,3,42,4.0,5.0,1.0,3.0,10.203592
239838,0,0.18,0,22,1.0,5.0,1.0,1.0,8.395477

In [6]:
test.reset_index(inplace=True, drop=True)

In [7]:
test

,ClaimNb,Exposure,CarAge,DriverAge,Brand_enc,Region_enc,Gas_enc,Power_enc,log_density
0,0,1.00,6,81,3.0,3.0,1.0,2.0,2.484907
1,0,0.49,0,30,4.0,2.0,1.0,3.0,4.406719
2,0,0.78,0,44,4.0,3.0,1.0,1.0,8.322637
3,0,0.07,15,46,0.0,8.0,1.0,2.0,5.799093
4,0,0.34,2,45,4.0,8.0,0.0,5.0,5.459586
...,...,...,...,...,...,...,...,...,...
59955,0,0.70,6,27,4.0,5.0,1.0,9.0,6.280396
59956,0,0.95,12,29,3.0,7.0,0.0,0.0,8.889997
59957,0,1.00,10,41,5.0,3.0,1.0,5.0,7.622664
59958,0,0.74,5,39,1.0,5.0,0.0,2.0,8.127405
59959,1,0.05,11,41,6.0,8.0,1.0,5.0,6.569481

In [17]:
from sklearn.model_selection import KFold
import numpy as np
import pandas as pd
from pygam import PoissonGAM, s,f

X = test.drop(['ClaimNb'], axis=1).values
y = test['ClaimNb'].values  

lambdas = [0.01, 0.1, 1, 10, 100]

kf = KFold(n_splits=5, shuffle=True, random_state=42)

results = {}

for lam in lambdas:
    fold_metrics = []
    for train_index, test_index in kf.split(X):
        X_train, X_val = X[train_index], X[test_index]
        y_train, y_val = y[train_index], y[test_index]
        
        gam = PoissonGAM(s(0) + s(1) + s(2) + s(7) + f(3) + f(4) + f(5) + f(6), lam = lam)
        gam.fit(X_train, y_train)
        
        y_pred = gam.predict(X_val)
        mse = np.mean((y_val-y_pred)**2)
        fold_metrics.append(mse) 
    

    results[lam] = np.mean(fold_metrics)

best_lambda = min(results, key=results.get)
print("Best lambda:", best_lambda)
print("Cross-validated MSE for each lambda:", results)

Best lambda: 100
Cross-validated deviance for each lambda: {0.01: 0.04601436560156029, 0.1: 0.04599489655771623, 1: 0.04597123028061205, 10: 0.04594102544661315, 100: 0.04592889202646359}

In [3]:
(0.0459288920264635 * 59960)/(59960-8-1)

0.045935786991155296

In [18]:
gam.summary()

PoissonGAM
=============================================== ==========================================================
Distribution:                       PoissonDist Effective DoF:                                     30.9296
Link Function:                          LogLink Log Likelihood:                                 -8417.0796
Number of Samples:                        47968 AIC:                                            16896.0186
                                                AICc:                                           16896.0624
                                                UBRE:                                               2.2693
                                                Scale:                                                 1.0
                                                Pseudo R-Squared:                                   0.0369
==========================================================================================================
Feature Function                  Lambda               Rank         EDoF         P > x        Sig. Code
================================= ==================== ============ ============ ============ ============
s(0)                              [100]                20           5.1          0.00e+00     ***
s(1)                              [100]                20           2.0          0.00e+00     ***
s(2)                              [100]                20           5.0          4.01e-09     ***
s(7)                              [100]                20           5.3          2.55e-05     ***
f(3)                              [100]                7            3.5          4.04e-06     ***
f(4)                              [100]                10           4.6          4.67e-03     **
f(5)                              [100]                2            0.9          1.37e-03     **
f(6)                              [100]                12           4.5          1.19e-01
intercept                                              1            0.0          0.00e+00     ***
==========================================================================================================
Significance codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

WARNING: Fitting splines and a linear function to a feature introduces a model identifiability problem
         which can cause p-values to appear significant when they are not.

WARNING: p-values calculated in this manner behave correctly for un-penalized models or models with
         known smoothing parameters, but when smoothing parameters have been estimated, the p-values
         are typically lower than they should be, meaning that the tests reject the null too readily.

/tmp/ipykernel_24422/3358381670.py:1: UserWarning: KNOWN BUG: p-values computed in this summary are likely much smaller than they should be.

Please do not make inferences based on these values!

Collaborate on a solution, and stay up to date at:
github.com/dswah/pyGAM/issues/163

  gam.summary()