In [1]:
import pandas as pd 
import numpy as np 
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
import scipy.stats as sc
import matplotlib.pyplot as plt 
import seaborn as sns
import pygam

In [2]:
data = pd.read_csv('Clean_data.csv')
data

,Unnamed: 0,GroupID,ClaimNb,Exposure,Power,CarAge,DriverAge,Brand,Gas,Region,Density,Brand_enc,Region_enc,Gas_enc,Power_enc,log_density
0,0,1,0,0.090000,g,0,46,Japanese (except Nissan) or Korean,Diesel,Aquitaine,76,1.0,0.0,0.0,3.0,4.330733
1,1,2,0,0.520000,f,2,38,Japanese (except Nissan) or Korean,Regular,Nord-Pas-de-Calais,3003,1.0,7.0,1.0,2.0,8.007367
2,2,3,0,0.150000,g,0,41,Japanese (except Nissan) or Korean,Diesel,Pays-de-la-Loire,60,1.0,8.0,0.0,3.0,4.094345
3,3,4,0,0.810000,d,1,27,Japanese (except Nissan) or Korean,Regular,Aquitaine,695,1.0,0.0,1.0,0.0,6.543912
4,4,5,0,0.050000,d,0,27,Japanese (except Nissan) or Korean,Regular,Aquitaine,695,1.0,0.0,1.0,0.0,6.543912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299794,299794,299795,0,0.005479,d,0,61,Japanese (except Nissan) or Korean,Regular,Basse-Normandie,205,1.0,1.0,1.0,0.0,5.323010
299795,299795,299796,0,0.002740,j,0,29,Japanese (except Nissan) or Korean,Diesel,Ile-de-France,2471,1.0,5.0,0.0,6.0,7.812378
299796,299796,299797,0,0.005479,d,0,29,Japanese (except Nissan) or Korean,Regular,Ile-de-France,5360,1.0,5.0,1.0,0.0,8.586719
299797,299797,299798,0,0.005479,k,0,49,Japanese (except Nissan) or Korean,Diesel,Ile-de-France,5360,1.0,5.0,0.0,7.0,8.586719
299798,299798,299799,0,0.002740,g,6,29,Japanese (except Nissan) or Korean,Diesel,Aquitaine,65,1.0,0.0,0.0,3.0,4.174387

In [3]:
data['Power'].value_counts()

Power
f    69852
g    66453
e    56882
d    48924
h    19114
i    13012
j    12481
k     6659
l     3108
m     1370
o      985
n      959
Name: count, dtype: int64

In [4]:
data['Power_enc'].value_counts()

Power_enc
2.0     69852
3.0     66453
1.0     56882
0.0     48924
4.0     19114
5.0     13012
6.0     12481
7.0      6659
8.0      3108
9.0      1370
11.0      985
10.0      959
Name: count, dtype: int64

In [5]:
glm_data = data.drop(['GroupID', 'Power', 'Brand', 'Gas', 'Region','Unnamed: 0'], axis=1)
glm_data

,ClaimNb,Exposure,CarAge,DriverAge,Density,Brand_enc,Region_enc,Gas_enc,Power_enc,log_density
0,0,0.090000,0,46,76,1.0,0.0,0.0,3.0,4.330733
1,0,0.520000,2,38,3003,1.0,7.0,1.0,2.0,8.007367
2,0,0.150000,0,41,60,1.0,8.0,0.0,3.0,4.094345
3,0,0.810000,1,27,695,1.0,0.0,1.0,0.0,6.543912
4,0,0.050000,0,27,695,1.0,0.0,1.0,0.0,6.543912
...,...,...,...,...,...,...,...,...,...,...
299794,0,0.005479,0,61,205,1.0,1.0,1.0,0.0,5.323010
299795,0,0.002740,0,29,2471,1.0,5.0,0.0,6.0,7.812378
299796,0,0.005479,0,29,5360,1.0,5.0,1.0,0.0,8.586719
299797,0,0.005479,0,49,5360,1.0,5.0,0.0,7.0,8.586719
299798,0,0.002740,6,29,65,1.0,0.0,0.0,3.0,4.174387

In [6]:
glm_data['log_density'] = np.log(data['Density'])

In [7]:
glm_data.drop(['Density'],axis=1, inplace=True)

In [8]:
glm_data

,ClaimNb,Exposure,CarAge,DriverAge,Brand_enc,Region_enc,Gas_enc,Power_enc,log_density
0,0,0.090000,0,46,1.0,0.0,0.0,3.0,4.330733
1,0,0.520000,2,38,1.0,7.0,1.0,2.0,8.007367
2,0,0.150000,0,41,1.0,8.0,0.0,3.0,4.094345
3,0,0.810000,1,27,1.0,0.0,1.0,0.0,6.543912
4,0,0.050000,0,27,1.0,0.0,1.0,0.0,6.543912
...,...,...,...,...,...,...,...,...,...
299794,0,0.005479,0,61,1.0,1.0,1.0,0.0,5.323010
299795,0,0.002740,0,29,1.0,5.0,0.0,6.0,7.812378
299796,0,0.005479,0,29,1.0,5.0,1.0,0.0,8.586719
299797,0,0.005479,0,49,1.0,5.0,0.0,7.0,8.586719
299798,0,0.002740,6,29,1.0,0.0,0.0,3.0,4.174387

In [9]:
train, test = train_test_split(glm_data, test_size=0.2)

In [10]:
train

,ClaimNb,Exposure,CarAge,DriverAge,Brand_enc,Region_enc,Gas_enc,Power_enc,log_density
226542,0,0.07,9,39,4.0,0.0,0.0,2.0,4.330733
209880,0,0.13,0,52,1.0,3.0,0.0,8.0,5.641907
30455,0,0.25,0,44,4.0,3.0,1.0,3.0,3.761200
292700,0,0.74,3,46,1.0,5.0,0.0,3.0,7.415777
110894,0,0.07,0,44,1.0,5.0,1.0,6.0,8.324336
...,...,...,...,...,...,...,...,...,...
4651,0,0.13,16,30,5.0,2.0,1.0,2.0,4.543295
295882,0,0.13,1,55,1.0,5.0,1.0,1.0,9.225820
47088,0,0.14,10,64,4.0,3.0,0.0,1.0,5.686975
135115,0,1.00,16,27,4.0,3.0,1.0,0.0,4.394449
93766,0,0.70,18,31,3.0,8.0,1.0,4.0,5.799093

In [11]:
test

,ClaimNb,Exposure,CarAge,DriverAge,Brand_enc,Region_enc,Gas_enc,Power_enc,log_density
154626,0,0.240000,14,29,4.0,8.0,0.0,2.0,6.111467
146482,0,0.320000,16,76,5.0,3.0,1.0,5.0,3.610918
268193,0,0.690000,2,49,5.0,3.0,1.0,0.0,5.910797
174831,0,0.860000,0,48,1.0,8.0,1.0,6.0,3.871201
263805,0,0.530000,11,36,4.0,2.0,1.0,0.0,5.659482
...,...,...,...,...,...,...,...,...,...
34100,0,1.000000,6,66,4.0,8.0,0.0,3.0,6.569481
142742,0,0.490000,1,38,4.0,3.0,1.0,2.0,3.610918
49369,1,0.640000,2,47,5.0,5.0,1.0,2.0,10.203592
83220,0,0.750000,11,44,4.0,9.0,0.0,2.0,6.487684
259146,0,0.002732,3,37,1.0,5.0,1.0,11.0,8.394573

In [12]:
Y = train['ClaimNb']
X = sm.add_constant(train.drop(['ClaimNb'], axis=1))
model = sm.GLM(Y, X, family=sm.families.Poisson())
results = model.fit()

print(results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                ClaimNb   No. Observations:               239839
Model:                            GLM   Df Residuals:                   239830
Model Family:                 Poisson   Df Model:                            8
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -42382.
Date:                Tue, 31 Dec 2024   Deviance:                       64789.
Time:                        20:18:24   Pearson chi2:                 2.51e+05
No. Iterations:                     7   Pseudo R-squ. (CS):           0.006175
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -4.1152      0.062    -66.262      0.000      -4.237      -3.993
Exposure        1.0356      0.031     33.309      0.000       0.975       1.097
CarAge         -0.0051      0.002     -2.742      0.006      -0.009      -0.001
DriverAge      -0.0072      0.001    -10.164      0.000      -0.009      -0.006
Brand_enc       0.0348      0.008      4.594      0.000       0.020       0.050
Region_enc      0.0048      0.004      1.150      0.250      -0.003       0.013
Gas_enc        -0.1432      0.020     -7.042      0.000      -0.183      -0.103
Power_enc       0.0149      0.005      2.918      0.004       0.005       0.025
log_density     0.0906      0.005     16.746      0.000       0.080       0.101
===============================================================================

In [13]:
test1 = test.reset_index(drop=True)

In [14]:
X_test = sm.add_constant(test1.drop(['ClaimNb'], axis=1))
predictions = results.predict(X_test)
print(predictions)

0        0.033890
1        0.018986
2        0.041504
3        0.040813
4        0.034653
           ...
59955    0.062893
59956    0.029649
59957    0.061365
59958    0.054473
59959    0.028641
Length: 59960, dtype: float64

In [32]:
from sklearn.metrics import mean_squared_error

mean_squared_error(test1['ClaimNb'], predictions)*59960/(59960-1-8)

0.045777938873556204

In [16]:
Y1 = train['ClaimNb']
X1 = sm.add_constant(train.drop(['ClaimNb', 'Brand_enc'], axis=1))
model1 = sm.GLM(Y1, X1, family=sm.families.Poisson())
results1 = model1.fit()

print(results1.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                ClaimNb   No. Observations:               239839
Model:                            GLM   Df Residuals:                   239831
Model Family:                 Poisson   Df Model:                            7
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -42392.
Date:                Tue, 31 Dec 2024   Deviance:                       64810.
Time:                        20:18:25   Pearson chi2:                 2.51e+05
No. Iterations:                     7   Pseudo R-squ. (CS):           0.006086
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -3.9948      0.056    -71.021      0.000      -4.105      -3.885
Exposure        1.0545      0.031     34.148      0.000       0.994       1.115
CarAge         -0.0033      0.002     -1.803      0.071      -0.007       0.000
DriverAge      -0.0073      0.001    -10.285      0.000      -0.009      -0.006
Region_enc      0.0041      0.004      0.973      0.331      -0.004       0.012
Gas_enc        -0.1485      0.020     -7.313      0.000      -0.188      -0.109
Power_enc       0.0120      0.005      2.369      0.018       0.002       0.022
log_density     0.0882      0.005     16.378      0.000       0.078       0.099
===============================================================================

In [17]:
X_test1 = sm.add_constant(test1.drop(['ClaimNb','Brand_enc'], axis=1))
predictions1 = results1.predict(X_test1)
print(predictions1)

0        0.033303
1        0.017959
2        0.038983
3        0.043318
4        0.034241
           ...
59955    0.061338
59956    0.028689
59957    0.056595
59958    0.053592
59959    0.029418
Length: 59960, dtype: float64

In [33]:
mean_squared_error(test1['ClaimNb'], predictions1)*59960/(59960-1-7)

0.04578871426024915

In [19]:
Y2 = train['ClaimNb']
X2 = sm.add_constant(train.drop(['ClaimNb', 'Region_enc', 'Brand_enc', 'DriverAge', 'CarAge', 'log_density', 'Exposure', 'Power_enc', 'Gas_enc'
], axis=1))
model2 = sm.GLM(Y2, X2, family=sm.families.Poisson())
results2= model2.fit()

print(results2.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                ClaimNb   No. Observations:               239839
Model:                            GLM   Df Residuals:                   239838
Model Family:                 Poisson   Df Model:                            0
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -43125.
Date:                Tue, 31 Dec 2024   Deviance:                       66274.
Time:                        20:18:26   Pearson chi2:                 2.53e+05
No. Iterations:                     7   Pseudo R-squ. (CS):         -2.220e-16
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -3.1459      0.010   -319.582      0.000      -3.165      -3.127
==============================================================================

In [28]:
mse = 0
for i in range(len(test1['ClaimNb'])):
    mse = mse + (test1['ClaimNb'][i]-.043421)**2

print(mse/(len(test1['ClaimNb'])-1))

0.04609018728017107

In [23]:
from sklearn.metrics import mean_poisson_deviance
mean_poisson_deviance(test1['ClaimNb'], predictions)

0.27217485596663993

In [24]:
mean_poisson_deviance(test1['ClaimNb'], predictions1)

0.2724211472226326